.heading-main{
 font-size: 24px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
 font-style: oblique;
 color : rgba(222, 171, 19, 0.8);
 transform : translate(100px, 10px);
}

.app{
  white-space: nowrap;
  overflow: hidden;
}